@model IEnumerable<Serwis>
@{
    ViewData["Title"] = "Lista serwisow";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista serwisów</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Kierownik" asp-action="Index" class="btn btn-secondary m-1">
                Wróć
            </a>
            <a asp-controller="Mechanik" asp-action="CreateSerwis" class="btn btn-primary m-1 float-end">
                <i class="bi bi-plus-circle"></i> &nbsp; Dodaj serwis
            </a>
        </div>
    </div>
</div>
<div class="text-center">
    <form method="get" asp-action="ListaSerwisow">
        <input type="search" placeholder="Wyszukaj" value="@ViewData["GetSerwis"]" name="searchFilter" class="form-control d-inline mt-3 w-25" />
        <input type="submit" value="Wyszukaj" class="btn btn-primary" /><br />
        <a asp-action="ListaSerwisow">Wszystkie serwisy</a>
    </form>
</div>
<div class="justify-content-center table-responsive" style="max-width:91vw;">
    <table class="table table-bordered table-striped bg-white">
        <thead>
            <tr>
                <th width="7%">Numer serwisu</th>
                <th width="7%">Numer gokarta</th>
                <th>Data utworzenia</th>
                <th>Usterka</th>
                <th>Wykonano</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr style="font-size: 20px;" class="align-middle text-center">
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.GokartNumer
                    </td>
                    <td>
                        @obj.DataUtworzenia
                    </td>
                    @{
                        string usterka = obj.Usterka;
                        if (obj.Usterka.Length > 20) usterka = usterka.Substring(0, 20) + "...";
                    }
                    <td>
                        @usterka
                    </td>
                    @if (obj.Wykonano == true)
                    {
                        <td class="bg-success">&#10004;</td>
                    }
                    else
                    {
                        <td class="bg-danger">&#10060;</td>
                    }
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Mechanik" asp-action="UpdateSerwis" asp-route-id="@obj.Id" class="btn btn-info">Aktualizuj</a>&nbsp;
                            <a asp-controller="Mechanik" asp-action="SerwisDetails" asp-route-id="@obj.Id" class="btn btn-secondary">Szczegóły</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
