@model IEnumerable<Serwis>
@{
    ViewData["Title"] = "Lista serwisow";
}

<div>
    <div>
        <h2 class="text-primary">Lista serwisów</h2>
        <div>
            <a asp-controller=@User.Claims.FirstOrDefault(c => c.Type == "Role").Value asp-action="CreateSerwis" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Dodaj serwis
            </a>
        </div>
    </div>
</div>
<div class=" text-center">
    <form method="get" asp-action="ListaSerwisow">
        <input type="search" placeholder="Wyszukaj" value="@ViewData["GetSerwis"]" name="searchFilter" class="form-control d-inline mt-3" style="width: 25vh;" />
        <input type="submit" value="Wyszukaj" class="btn btn-primary" /><br/>
        <a asp-action="ListaSerwisow">Wszystkie serwisy</a>
    </form>
</div>
<div class=" table-responsive" style="max-width:91vw" >
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th width="7%">Numer serwisu</th>
                <th width="7%">Numer gokarta</th>
                <th>Data utworzenia</th>
                <th>Usterka</th>
                <th>Wykonano</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr style="font-size: 20px;" class="align-middle text-center">
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.GokartNumer
                    </td>
                    <td>
                        @obj.DataUtworzenia
                    </td>
                    <td>
                        @obj.Usterka
                    </td>
                    @if(obj.Wykonano == true)
                    {
                        <td>&#10004;</td>
                    } else
                    {
                        <td>&#10060;</td>
                    }
                    <td>
                        <a asp-controller=@User.Claims.FirstOrDefault(c => c.Type == "Role").Value asp-action="UpdateSerwis" asp-route-id="@obj.Id" class="btn btn-info">Aktualizuj</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
