@model IEnumerable<Magazyn>
@{
    ViewData["Title"] = "Magazyn";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Magazyn</h2>
        </div>
        <div class="text-center">
            <a asp-controller="Sprzetowiec" asp-action="Index" class="btn btn-secondary m-5" style="width:150px">
                Wróć
            </a>
            <a asp-controller="Sprzetowiec" asp-action="CreateMagazyn" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Dodaj pozycję do magazynu
            </a>
        </div>
    </div>
</div>
<div class="w-100 text-center">
    <form method="get" asp-action="Magazyn">
        <input type="search" placeholder="Wyszukaj" value="@ViewData["GetMagazyn"]" name="searchFilter" class="form-control d-inline mt-3 w-25" />
        <input type="submit" value="Wyszukaj" class="btn btn-primary" />
        <a asp-action="Magazyn">Wszystkie elementy</a>
    </form>
</div>
<br />
<div class="table-responsive" style="max-width: 91vw;">
    <table class="table table-bordered table-striped bg-white w-100">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Kategoria</th>
                <th>Nazwa</th>
                <th width="20%">Opis</t>
                <th>W magazynie</th>
                <th>Wydano</th>
                <th style="min-width: 200px">Rotacja asortymentu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr style="font-size: 20px;" class="align-middle text-center">
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Kategoria
                    </td>
                    <td>
                        @obj.Nazwa
                    </td>
                    <td>
                        @{
                            var text = "";
                            if (obj.Opis.Length > 20) text = obj.Opis.Substring(0, 20) + "...";
                            else text = obj.Opis;
                        }
                        @text
                    </td>
                    <td>
                        @obj.StanMagazynowy
                    </td>
                    <td>
                        @obj.Wypozyczono
                    </td>
                    <td class="p-0">
                        <form method="get" asp-action="Wypozycz">
                            <input type="number" name="ilosc" class="form-control d-inline" style="width:40%" max="@obj.StanMagazynowy" min="-@obj.Wypozyczono"/>
                            <input hidden value="@obj.Id" name="id" />
                            <input type="submit" value="Rotacja" class="btn btn-info" />
                        </form>
                    </td>
                    <td style="min-width: 200px;">
                        <a class="btn btn-success" asp-area="" asp-controller="Sprzetowiec" asp-action="EditMagazyn" asp-route-id="@obj.Id">
                            Edytuj
                        </a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Sprzetowiec" asp-action="DeleteMagazyn" asp-route-id="@obj.Id">
                            Usuń
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

